*{
    margin:0;
    padding:0;
    
}
.container1{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(87, 44, 80, 0.7),rgba(233, 155, 233, 0.7)) ,url(images/cherry_blossom.jpg);
    background-position:center;
    background-size: cover;

}